@tailwind base;
@tailwind components;
@tailwind utilities;
label.error {
  color: red;
}
/* .btn-header__active {
  display: none;
}
.btn-header:hover .btn-header__active {
  display: block !important;
} */
